@{
  Layout = "_Layout";
}
@using Factory.Models

<h1>Details for machine named: @Model.Name</h1>

<ul>
  <li>Machine ID: @Model.MachineId</li>
  <li>Machine Type: @Model.Type</li>
  <li>Years In Service: @Model.YearsInService</li>
</ul>

<h5>Engineers Assigned to this Machine</h5>
<ul>
  @foreach (EngineerMachine engM in @Model.JoinEntities)
  {
    <li>@Html.ActionLink(engM.Engineer.Name, "Details", "Engineers", new {id = engM.Engineer.EngineerId})</li>
  }
</ul>