@{
  Layout = "_Layout";
}
@using Factory.Models

<h1>Details for machine named: @Model.Name</h1>

<ul>
  <li>Machine ID: @Model.MachineId</li>
  <li>Machine Type: @Model.Type</li>
  <li>Years In Service: @Model.YearsInService</li>
  <li>
    @Html.ActionLink("EDIT", "Edit", "Machines", new {id = @Model.MachineId}, new { @class = "btn btn-dark btn-sm my-1", @role="button" })
  </li>
  <li>
    @Html.ActionLink("DELETE", "Delete", "Machines", new {id = @Model.MachineId}, new { @class = "btn btn-dark btn-sm mb-1", @role="button" })
  </li>
</ul>

<h5 class="mt-4">Engineers Assigned to @Model.Name</h5>
<ul>

  @if (@Model.JoinEntities.Count == 0)
  {
    <p>No engineers assigned.</p>
  }
  else
  {
    @foreach (EngineerMachine engM in @Model.JoinEntities)
    {
      <li>@Html.ActionLink(engM.Engineer.Name, "Details", "Engineers", new {id = engM.Engineer.EngineerId})</li>
    }
  }
</ul>

<div>@Html.ActionLink("Assign an engineer to " + $"{@Model.Name}", "AddEngineer", new {id = @Model.MachineId})</div>
<div>@Html.ActionLink("Remove an engineer from " + $"{@Model.Name}", "RemoveEngineer", new {id = @Model.MachineId})</div>
<div>@Html.ActionLink("Back to machines list", "Index", "Machines")</div>