@{
  Layout = "_Layout";
}

<h1>Details for machine named: @Model.Name</h1>

<ul>
  <li>Machine ID: @Model.MachineId</li>
  <li>Machine Name: @Model.Name</li>
  <li>Machine Type: @Model.Type</li>
  <li>Years In Service: @Model.YearsInService</li>
</ul>