@{
  Layout = "_Layout";
}
@using Factory.Models

<h1>Details for Engineer named: @Model.Name</h1>

<ul>
  <li>Employee ID: @Model.EngineerId</li>
  <li>Engineer Name: @Model.Name</li>
  <li>Years In Service: @Model.YearsExperience</li>
  <li>
    @Html.ActionLink("EDIT", "Edit", "Engineers", new {id = @Model.EngineerId}, new { @class = "btn btn-dark btn-sm my-1", @role="button" })
  </li>
  <li>
    @Html.ActionLink("DELETE", "Delete", "Engineers", new {id = @Model.EngineerId}, new { @class = "btn btn-dark btn-sm mb-1", @role="button" })
  </li>
</ul>

<h5 class="mt-4">Machines Assigned to @Model.Name</h5>
<ul>
  @if (@Model.JoinEntities.Count == 0)
  {
    <p>No machines assigned.</p>
  }
  else
  {
    @foreach (EngineerMachine engM in @Model.JoinEntities)
    {
      <li>@Html.ActionLink(engM.Machine.Name, "Details", "Machines", new {id = engM.Machine.MachineId})</li>
    }
  }
</ul>

<div>@Html.ActionLink("Assign machine to " + $"{@Model.Name}", "AddMachine", new {id = @Model.EngineerId})</div>
<div>@Html.ActionLink("Remove a machine from " + $"{@Model.Name}", "RemoveMachine", new {id = @Model.EngineerId})</div>
<div>@Html.ActionLink("Back to engineers list", "Index")</div>