@{
  Layout = "_Layout";
}
@using Factory.Models;

<h1 class="mb-5">Dr. SillyStringz Factory Manager!</h1>

<div>
  <h3 class="inline-block">Engineers List</h3>
  <div class="inline-block">(@Html.ActionLink("add more engineers", "Index", "Engineers"))</div>
  <ul>
    @foreach (Engineer eng in @ViewBag.Engineers)
    {
      <li>
        @Html.ActionLink(eng.Name, "Details", "Engineers", new {id = eng.EngineerId}, new { @class="inline"})

        @Html.ActionLink("EDIT", "Edit", "Engineers", new {id = eng.EngineerId}, new { @class = "btn btn-dark btn-sm m-1", @role="button" })  
        @Html.ActionLink("DELETE", "Delete", "Engineers", new {id = eng.EngineerId}, new { @class = "btn btn-dark btn-sm my-2", @role="button" })  
      </li>
    }
  </ul>
</div>

<div>
  <h3 class="inline-block">Machines List</h3>
  <div class="inline-block">(@Html.ActionLink("add more machines", "Index", "Machines"))</div>
  <ul>
    @foreach (Machine mach in @ViewBag.Machines)
    {
      <li>
        @Html.ActionLink(mach.Name, "Details", "Machines", new {id = mach.MachineId})
        @Html.ActionLink("EDIT", "Edit", "Machines", new {id = mach.MachineId}, new { @class = "btn btn-dark btn-sm m-1", @role="button" })  
        @Html.ActionLink("DELETE", "Delete", "Machines", new {id = mach.MachineId}, new { @class = "btn btn-dark btn-sm my-2", @role="button" })  
      </li>
    }
  </ul>
</div>