@{
  Layout = "_Layout";
}
@using Factory.Models;
@using System.Collections.Generic;

<h1 class="mb-5">Dr. SillyStringz Factory Manager!</h1>

<h3>Click list titles to go to page with more details:</h3>

<div>
  <h3 class="inline-block">Engineers List</h3>
  <div class="inline-block">(@Html.ActionLink("add more engineers", "Index", "Engineers"))</div>
  <ul>
    @foreach (Engineer eng in @ViewBag.Engineers)
    {
      <li>@Html.ActionLink(eng.Name, "Details", "Engineers", new {id = eng.EngineerId})</li>
    }
  </ul>
</div>

<div>
  <h3 class="inline-block">Machines List</h3>
  <div class="inline-block">(@Html.ActionLink("add more machines", "Index", "Machines"))</div>
  <ul>
    @foreach (Machine mach in @ViewBag.Machines)
    {
      <li>@Html.ActionLink(mach.Name, "Details", "Machines", new {id = mach.MachineId})</li>
    }
  </ul>
</div>